<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="js/vue.js"></script>
    <title></title>
</head>

<body>
    <div id='example'>
        <to-do-box>

        </to-do-box>

    </div>
    <script type="text/x-template" id="todobox">
        <div>
            <to-do-input />
            <to-do-list v-bind:myList="list" />
        </div>
    </script>
    <script type="text/x-template" id="todoinput">
        <div>
            <h1>plz enjoy it</h1> <br/>
            <input type='text' v-model="inputTxt" />
            <button @click="add">add</button>
        </div>
    </script>
    <script type="text/x-template" id="todolist">
        <ol>
            <to-do-item v-for="(tmp,index) in myList" b-bind:itemIndex="index" v-bind:content="tmp">{{tmp}}</to-do-item>
        </ol>
    </script>
    <script type="text/x-template" id="todoitem">
        <li>
            <button @click="del">删除</button>
            <span>{{content}}</span>
        </li>
    </script>
    <script>
        Vue.component('to-do-item', {
            props: ['content', 'itemIndex'],
            template: '#todoitem',
            methods: {
                del: function () {
                    this.$parent.$parent.deleFromList(this.itemIndex);
                }
            }
        })

        Vue.component('to-do-box', {
            template: "#todobox",
            data: function () {
                return {
                    list: []
                }
            },
            methods: {
                addToList: function (content) {
                    this.list.push(content);
                    console.log(this.list);
                },
                deleFromList: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })
        Vue.component('to-do-input', {
            template: "#todoinput",
            data: function () {
                return {
                    inputTxt: ''
                }
            },
            methods: {
                add: function () {
                    this.$parent.addToList(this.inputTxt);
                }
            }
        })
        Vue.component('to-do-list', {
            props: ['myList'],
            template: "#todolist"
        })
        new Vue({
            // ...
            el: '#example'
        })
    </script>
</body>

</html>