<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="js/Vue.js"></script>
</head>
<body>


<!--在 Vue.js 中，父子组件的关系可以总结为 props down, events up 。
父组件通过 props 向下传递数据给子组件，子组件通过 events 给父组件发送消息。-->

<div id="todoList">
    <to-do-box v-bind:list="list" v-bind:funcAdd="add"></to-do-box>
</div>

<script>
    Vue.component('to-do-box',{
        template:'<div><to-do-input v-bind:thingsList="list"/><to-do-list v-bind:thingsList="list"/></div>',
        props:['list','funcAdd']
    })

    Vue.component('to-do-input',{
        template:'<div><h1>ToDoList</h1> <input type="text" v-model="msg"/> <button v-on:click="addFunc">Add</button></div>',
        props:['thingsList'],
        methods:{
            addFunc: function () {
                this.thingsList.push(this.msg)

            }
        }
    })
    Vue.component('to-do-list',{
        template:'<ul><to-do-item v-for="(value,key) in thingsList" v-bind:list="thingsList" v-bind:content="value" v-bind:index="key"/> </ul>',
        props:['thingsList']
    })

    Vue.component('to-do-item',{
        template:'<li><button v-on:click="deleteFunc(index)">delete</button> <span>{{"key is "+index+" content is "+content}}</span></li>',
        props:['content','index','list'],
        methods:{
            deleteFunc: function (index) {
                this.list.splice(index,1);
            }
        }
    })


    var app = new Vue({
        el:'#todoList',
        data:{
            list:['吃饭','睡觉','打豆豆']
        },
        methods:{
            add: function (data) {
                this.list.push(data);
            }
        }
    })



</script>

</body>
</html>